## Linear equations: [tables](https://www.khanacademy.org/math/algebra/linear-word-problems/modal/e/interpreting-tables)

Julia got a delivery order. She took some time to get ready, and then she rode her bicycle at a constant speed.

The table compares the distance Julia made (in kilometers) and the time since she got the order (in minutes).

In [3]:
import pandas as pd
from IPython.display import display, HTML
from sympy import *

In [2]:
data = { 
     'Distance (kilometers)' : [5, 7, 9],
     'Time (minutes)' : [40, 52, 64]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
display(HTML(df.to_html(index=False)))

Distance (kilometers),Time (minutes)
5,40
7,52
9,64

**How many minutes did it take Julia to ride $1$ kilometer?**

Since Julia rode at a *constant* speed, the table describes a *linear* relationship.

Moreover, the rate of change of this relationship corresponds to the time it takes Julia to ride $1$ kilometer.

The table of values shows that for each increase of $2$ kilometers in ${\text{Distance}}$, ${\text{Time}}$ increases by ${12}$ minutes. The time it takes Julia to ride $1$ kilometer is the ratio of those corresponding differences:

$\dfrac{\Delta {\text{Time}}}{\Delta {\text{Distance}}}=\dfrac{{12}}{{2}}={6}$

In [5]:
x1 = data['Time (minutes)'][0]

In [6]:
x2 = data['Time (minutes)'][1]

In [7]:
y1 = data['Distance (kilometers)'][0]

In [8]:
y2 = data['Distance (kilometers)'][1]

In [9]:
(x2 - x1)/(y2 - y1)

6.0

## Isabella's pool

Isabella filled her pool with water at a constant rate.

The table compares the remaining volume of water left to fill the pool (in liters) and the time since Isabella started filling the pool (in minutes).

In [1]:
data = { 
     'Time (minutes)' : [2, 7, 12],
     'Water(liters)' : [184, 94, 4]
}

In [4]:
df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

Time (minutes),Water(liters)
2,184
7,94
12,4

**How many liters is Isabella's pool?**

Since Isabella filled the pool at a *constant* rate, the table describes a *linear* relationship.

Moreover, the size of Isabella's pool corresponds to the remaining volume of water to fill before she started, which is when $\text{Time}$ was $0$ minutes.

The table of values shows that for each increase of $5$ minutes in ${\text{Time}}$, ${\text{Water}}$ decreased by ${90}$ liters:

In [19]:
x1 = data['Time (minutes)'][0]
y1 = data['Time (minutes)'][0]
x2 = data['Water(liters)'][1]
y2 = data['Water(liters)'][1]

In [15]:
m = (x2 - x1)/(y2 - y1)

This is the slope of the line representing the relationship.

If we use one of the rows in the table as a point $(x_1,y_1)$, we can write the equation of this relationship in point-slope form: ${y}-y_1={m}({x}-x_1)$. Let's use the point $(12,4)$:

In [28]:
x, y = symbols('x y')

In [29]:
x3 = data['Time (minutes)'][2]
y3 = data['Water(liters)'][2]

In [30]:
PointSlope = Eq(y - y3, m * (x - x3))

In [31]:
solveset(PointSlope.subs(x, 0), y)

{220.0}

## Trip to Mount Kilimanjaro

The price of a climbing trip to Mount Kilimanjaro includes an initial fee plus a constant fee per meter.

The table compares the total distance of a trip (in meters) and the price of the trip (in dollars).

In [8]:
data = { 
     'Distance (meters)' : [70, 100, 130],
     'Price (dollars)' : [114.1, 118, 121.90]
}

In [4]:
df = pd.DataFrame(data)
display(HTML(df.to_html(index=False)))

Distance (meters),Price (dollars)
70,114.1
100,118.0
130,121.9

**What is the additional fee for each meter climbed?**

Since the additional fee per meter climbed is constant, the table describes a linear relationship.

Moreover, the rate of change of this relationship corresponds to the additional fee per meter climbed.

The table of values shows that for each increase of $30$ meters in ${\text{Distance,}}$ ${\text{Price}}$ increases by $\${3.90}$. The additional fee per meter climbed is the ratio of those corresponding differences:


$\dfrac{\Delta {\text{Price}}}{\Delta {\text{Distance}}}=\dfrac{{3.9}}{{30}}={0.13}$

In [14]:
x1 = data['Distance (meters)'][0]
x2 = data['Distance (meters)'][1]
y1 = data['Price (dollars)'][0]
y2 = data['Price (dollars)'][1]

In [15]:
(y2 - y1)/(x2 - x1)

0.1300000000000002